*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

:root {
  --accent-color-1: #672280;
  --accent-color-2: #A626D3;
  --gradient: linear-gradient(90deg, var(--accent-color-1)1.18%, var(--accent-color-2) 100%);
  --font-color: white;
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.18%, var(--accent-color-1)), to(var(--accent-color-2)));
  background: linear-gradient(90deg, var(--accent-color-1) 1.18%, var(--accent-color-2) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 1.25rem;
  color: var(--font-color);
  z-index: 1;
}

.header .header-logo {
  height: 2rem;
  margin-right: .5rem;
}

.header .header-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.form {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(100px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(100px, 1fr));
  margin-top: 6rem;
  padding: 2.5em;
  grid-column-gap: 1.5em;
  grid-row-gap: .95rem;
}

.form .input {
  outline: none;
  border: 2px solid #d5d4d8;
  padding: .75rem .5rem;
  border-radius: .25rem;
  color: black;
  font-weight: 600;
  -webkit-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out;
}

.form .input:hover, .form .input:focus {
  border-color: #222;
}

.form .btn {
  grid-column: span 2;
  cursor: pointer;
  border: none;
  outline: none;
  padding: .75em 0;
  border-radius: .25rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.18%, var(--accent-color-1)), to(var(--accent-color-2)));
  background: linear-gradient(90deg, var(--accent-color-1) 1.18%, var(--accent-color-2) 100%);
  opacity: .9;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.form .btn:hover, .form .btn:focus {
  opacity: 1;
}

.form .image-container {
  grid-column: span 2;
  margin: 0 auto;
  position: relative;
}

.form .image-container .image {
  max-width: 100%;
  max-height: 600px;
  border-radius: .25rem;
}

.form .image-container .image-text {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 1.5rem 0;
  padding: 0 0.25rem;
  width: 80%;
  font-family: Impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.form .image-container .top {
  top: 0;
}

.form .image-container .bottom {
  bottom: 0;
}
/*# sourceMappingURL=main.css.map */